<%= form_with model: @new_inventory_food, url: "/inventories/#{params[:id]}/inventory_foods",class:"bg-dark text-white" do |form| %>
  <%= form.hidden_field :inventory_id, value: params[:id] %>
  <div class="col-md-6">
    <label class="form-label">Quantity</label>
    <%= form.number_field :quantity, placeholder: 'Quantity', step: :any,class:"form-control" %>
  </div>

  <div class="col-md-6">
    <label  class="form-label">Name</label>
    <%= form.collection_select :food_id, Food.order(:name), :id, :name, prompt: true  %>
  </div>

  <div class="col-12">
      <%= form.submit %>
  </div>
    <% end %>
